# Best Places To Go To Have Your Vacation Paid For With Hospital Visits

In [1]:
import pandas as pd
import sqlite3
import numpy as np
%matplotlib inline

In his book [*The 4-Hour Body: An Uncommon Guide to Rapid Fat-Loss, Incredible Sex, and Becoming Superhuman*](https://www.amazon.com/4-Hour-Body-Uncommon-Incredible-Superhuman-ebook/dp/B003EI2EH2?ie=UTF8&*Version*=1&*entries*=0) Tim Ferriss explained [How To Pay For A Beach Vacation With One Hospital Visit](http://fourhourworkweek.com/gear/#beach).  

There are tons of medical tourism services out there that can point you to the country for most economical treatment for your illness, be sure. What if you are just a regular vagabond who also wants to save on medical bills in case of the unexpected, or just save on your regular medical expenses? You don't want to end up in places where simple fever can kill you becaue of the lack of medical facilities, or places so expensive you walk out with huge hole in your credit card?  

In the sections below I ranked all countries and regions by cost of medical care per doctor - the more accurate definition is 'Health expenditure per capita (current US$)' divided by 'Physicians (per 1,000 people)'. So effectively you can word this as medical cost in US\$ ,000/year if you have a full time private doctor and pay for other expenditures? For the sake of simplicity and theatricality I will call it that.  

Other selection criteria are included. 1) only countries with life expectancy in the upper half of the spectrum (73 YO), and 2) those where TB detection rate is higher than 85\% (median). This cuts the list of country and regions down to 48. While it's not perfect - for example India has some awesome medical resources and cheap drugs due to loose drug patent laws (which is an awesome thing BTW), but coverage is too low for it to stay on the list - I feel like this is good enough for selecting countries with decent medical facilities in a more general sense, particularly when you are not a medical tourist.  

Just to throw in some bonus, I added the number of tourists visiting said country so you know they are probably worth visiting. 

To put everything together the columns in the table are, from left to right:  

|Country Name|  
|Physicians per 1000 people|  
|Health expenditure per capita (current US\$)|  
|Life expectancy at birth, total (years)|  
|Tuberculosis case detection rate (\%, all forms) |  
|International tourism, number of arrivals|  
|Annual medical cost per person/doctor (\$1,000)|

*All stats were from the World development indicators dataset, and the metrics were best measurements of the country in recent 5 years (since 2011).*

In [4]:
conn = sqlite3.connect('world-development-indicators/database.sqlite')
cur = conn.cursor()

In [5]:
query = """select CountryName, max(Value) spend
from Indicators a join Country b on a.CountryCode=b.CountryCode 
where IndicatorName = 'Health expenditure per capita (current US$)' and Year >= 2011 group by CountryName"""

healthcare_expense = pd.read_sql_query(con=conn, sql=query)

In [6]:
query2 = """select CountryName, max(Value) docs_dens
from Indicators a join Country b on a.CountryCode=b.CountryCode 
where IndicatorName = 'Physicians (per 1,000 people)' and Year >= 2011 group by CountryName"""

physician_pct = pd.read_sql_query(con=conn, sql=query2)

In [7]:
query3 = """select CountryName, max(Value) life_expectancy
from Indicators a join Country b on a.CountryCode=b.CountryCode 
where IndicatorName = 'Life expectancy at birth, total (years)' and Year >= 2011 group by CountryName"""

life_expectancy = pd.read_sql_query(con=conn, sql=query3)
#Median life expectancy is 73 YO

In [8]:
query4 = """select CountryName, max(Value) tourist_count
from Indicators a join Country b on a.CountryCode=b.CountryCode 
where IndicatorName = 'International tourism, number of arrivals' and Year >= 2011 group by CountryName"""

tourism = pd.read_sql_query(con=conn, sql=query4)

In [52]:
query5 = """select CountryName, max(Value) TB_detection
from Indicators a join Country b on a.CountryCode=b.CountryCode 
where IndicatorName in ('Tuberculosis case detection rate (%, all forms)')
and Year >= 2011 group by CountryName"""

tuberculosis = pd.read_sql_query(con=conn, sql=query5)
#Median detection rate is 85%

In [53]:
healthcare_tourism = physician_pct.merge(healthcare_expense,on='CountryName').merge(
    life_expectancy,on='CountryName').merge(
    tuberculosis, on='CountryName').merge(
    tourism, on='CountryName')
    
healthcare_tourism['cost_per_doc'] = healthcare_tourism['spend']/healthcare_tourism['docs_dens']
healthcare_tourism = healthcare_tourism[(healthcare_tourism['life_expectancy']>=73) &(
    healthcare_tourism['TB_detection']>=85)]

In [54]:
healthcare_tourism.sort(columns='cost_per_doc')

,CountryName,docs_dens,spend,life_expectancy,TB_detection,tourist_count,cost_per_doc
2,Armenia,2.845000,158.621557,74.561366,98,1.084000e+06,55.754502
31,Georgia,4.272000,349.903136,74.079512,89,5.392000e+06,81.906165
15,Bulgaria,3.866000,555.019796,74.465854,95,6.898000e+06,143.564355
68,Nicaragua,0.897000,154.608621,74.514756,90,1.229000e+06,172.361897
18,China,1.940000,366.863027,75.353024,91,5.772500e+07,189.104653
77,Romania,2.448000,507.678055,74.563415,94,8.019000e+06,207.384827
0,Albania,1.145000,239.577092,77.537244,89,3.156000e+06,209.237635
65,Montenegro,2.113000,502.283233,74.758366,87,1.324000e+06,237.710948
51,Latvia,3.579000,874.282297,73.980488,95,1.536000e+06,244.281167
35,High income: nonOECD,3.809098,984.757639,74.071020,85,1.708915e+08,258.527770
1,Argentina,3.859000,1074.066944,75.986098,97,5.705000e+06,278.327791
71,Oman,2.429000,677.686842,76.841049,94,1.551000e+06,278.998288
27,Estonia,3.261000,1071.605128,76.424390,91,2.868000e+06,328.612428
20,Croatia,3.000000,1044.659803,77.126829,94,1.095500e+07,348.219934
93,Turkey,1.711000,607.708220,75.175951,93,3.779500e+07,355.177218
36,Hungary,3.080000,1105.490312,75.268293,95,1.067500e+07,358.925426
78,Saudi Arabia,2.491000,992.469229,74.177634,89,1.749800e+07,398.422011
75,Poland,2.219000,919.767007,76.848780,97,1.580000e+07,414.496173
22,Czech Republic,3.624000,1545.574750,78.278049,97,9.004000e+06,426.483099
81,Slovak Republic,3.320000,1454.084330,76.260976,100,6.235000e+06,437.977208
79,Seychelles,1.067000,550.845484,74.226829,120,2.300000e+05,516.256311
46,Kuwait,2.700000,1507.213644,74.462756,92,3.000000e+05,558.227275
76,Portugal,4.100000,2332.351628,80.470732,91,8.097000e+06,568.866251
85,Spain,4.949000,2943.766641,82.475610,88,6.066100e+07,594.820497
58,Malta,3.495000,2144.265271,80.746341,99,1.582000e+06,613.523683
14,Brunei Darussalam,1.498000,973.559801,78.546659,97,2.420000e+05,649.906409
41,Israel,3.346000,2598.892176,82.056098,120,2.962000e+06,776.716132
45,"Korea, Rep.",2.143000,1880.044545,81.459756,93,1.217600e+07,877.295634
82,Slovenia,2.516000,2225.154967,80.278049,98,2.259000e+06,884.401815
19,Costa Rica,1.113000,1005.090239,79.225220,91,2.428000e+06,903.046037
21,Cyprus,2.329000,2247.764201,79.949780,100,2.465000e+06,965.119880
9,Belgium,4.887000,5092.601211,80.585366,91,7.684000e+06,1042.071048
4,Austria,4.830000,5427.260142,80.982927,91,2.481300e+07,1123.656344
6,Bahrain,0.915000,1067.202693,76.545951,87,9.163000e+06,1166.341741
37,Iceland,3.476000,4125.877176,83.117073,95,8.000000e+05,1186.961213
95,United Kingdom,2.809000,3606.569119,80.956098,95,3.116900e+07,1283.933471
80,Singapore,1.950000,2507.433928,82.346341,100,1.189900e+07,1285.863553
32,Germany,3.889000,5006.499458,81.043902,88,3.154500e+07,1287.348794
33,High income,3.104451,4456.186573,79.109783,85,7.106052e+08,1435.418600
88,Sweden,3.926000,5680.333510,81.802439,88,5.229000e+06,1446.850104
40,Ireland,2.719000,4309.720321,81.043902,93,8.260000e+06,1585.038735
34,High income: OECD,2.934984,5401.013698,80.650435,90,5.412651e+08,1840.218877
3,Australia,3.273000,6392.934786,82.197561,88,6.382000e+06,1953.233971
70,Norway,4.281000,9714.785781,81.451220,90,4.963000e+06,2269.279556
89,Switzerland,4.049000,9276.472585,82.748780,99,8.967000e+06,2291.052750
57,Luxembourg,2.900000,8390.716118,81.797561,120,9.500000e+05,2893.350385
69,North America,2.413893,8803.113656,79.097649,87,8.659400e+07,3646.853960
96,United States,2.452000,9145.828151,78.841463,90,6.976800e+07,3729.946228

So to pay for a private doctor and other medical expenses, you need \$55,000 a year in Armenia while in the U.S it's only going to cost you \$3.7 million! On the region level, East European/Balkan countries seem to be the best places for vagabond who considers healthcare an important factor.  

And I must add that the low variance in annual incoming international tourists within these countries is somewhat surprising.